*.DS_Store
*.pyc
*.iml
*.ipynb_checkpoints
hail.log
.idea/
manhattan.iml

# ignore standing height data
50.assoc.tsv.gz
50.assoc.tsv

# ignore hail tables and generated plots
/data/
/plots/

plotgen/plotgen/test/test_resources/
slippyplot/test/test_plotgen/test_resources
