*.DS_Store
*.pyc
*.iml
*.ipynb_checkpoints
hail.log
.idea/
manhattan.iml

# ignore standing height data
50.assoc.tsv.gz
50.assoc.tsv

# ignore hail tables and generated plots
/data/
/plots/caffeine/
/plots/caffeine_plots/
/plots/matplotlib/
/plots/new_caffeine_plots/
/plots/new_standing_height_plots
/plots/sh_plots/
/plots/svg_tutorial_plots

slippyplot/test/test_resources/
slippyplot/test/test_plotgen/test_resources
/out/
/temp/
/jupyter/tutorial_data/